.container-fluid {
    padding: 16px!important;
	background-color: #9A0B0A!important;
	color:#fff!important;
}
.navbar-inverse .navbar-nav>li>a{
    
    color:#fff!important;
}
.navbar-inverse{
    border-color: #9A0B0A!important;
}
body{
    background:#fff;
    font-family: 'Lato', sans-serif;
    font:16px/1.5 sans-serif !important;
}
.btn-primary{
    background-color: #9A0B0A;
    border-color: #9A0B0A;
}
.alert-info {
    color: #2D2C2C;
    background-color: #EAEAEA;
    border-color: #E8EEEF;
}
.pull-left {
    padding-left:50px;
}
.pull-left.search-form{
    padding-left:0;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #9a0b0a, 0px 0px 1px #b20d0c;
  background: rgba(154, 11, 10, 0.58);
  border-radius: 1.3px;
  border: 0.4px solid #9a0b0a;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 2.4px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 16px;
  width: 18px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(202, 14, 13, 0.58);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #9a0b0a, 0px 0px 1px #b20d0c;
  background: rgba(154, 11, 10, 0.58);
  border-radius: 1.3px;
  border: 0.4px solid #9a0b0a;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 2.4px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 16px;
  width: 18px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(106, 8, 7, 0.58);
  border: 0.4px solid #9a0b0a;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #9a0b0a, 0px 0px 1px #b20d0c;
}
input[type=range]::-ms-fill-upper {
  background: rgba(154, 11, 10, 0.58);
  border: 0.4px solid #9a0b0a;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #9a0b0a, 0px 0px 1px #b20d0c;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 2.4px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 16px;
  width: 18px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 0px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(154, 11, 10, 0.58);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(202, 14, 13, 0.58);
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
vertical-align: middle !important;
text-align:left !important;
}
/*
td:first-child{
    width:2px;
}
*/
td:last-child{
    width:2px;
}
a {
 color:#000;   
}
thead:first-child{
    background-color: #F7F7F7;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #9A0B0A;
    border-color: #9A0B0A;
}
.navbar{
    border-radius:0px !important;
}
.navbar{
    border:0px none !important;
}
.cont{
    width:400px;
    padding:50px;
}
.dropdown-toggle{
    color:#fff;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color:none;
    border:0px none;
}
.dropdown{
        padding-top: 12px;
}
    
#login-buttons a, .accounts-dialog a {
    cursor: pointer;
    text-decoration: underline;
    color:#fff;
    padding:10px;
}
#login-buttons .login-close-text{
    color:#000;
}
#login-buttons .login-button, .accounts-dialog .login-button{
        background: #9A0B0A;
        border: 0px;
}
#login-buttons .login-button:hover, .accounts-dialog .login-button:hover{
    background:#2A2C2E;
}
#login-buttons #signup-link{
    color:#000;
}
.panel-body {
    padding: 50px;
}
.at-nouislider{
    padding-bottom:25px;
}
.done{
    text-decoration: line-through;
    opacity: 0.3;
}
.checkifdone{
    padding-right:100px;
}
.fa{
    padding-left:3px;
    cursor:pointer;
    display:inline;
}
.fa a{
    text-decoration: none;
}
.navbar-right{
        margin-top: 17px;
}
.repair{
    display:none;
}
.repairon{
    display:block;
}
a:hover{
    text-decoration:none;
}

/******************* USER PROFILE *********************/

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
.jqDropZone {
background: #CAE2E3;
    width: 100%;
    height: 200px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.jqDropZone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
.jqDropZone.hover {
    background: lawngreen;
}
.jqDropZone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

/****************** end user profile **************/