<template name="Header">
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:red;" href="/"><img src="http://localhost:3000/ubk_logo.png" style="position:absolute;top:10px;" alt="logo"></a>
            </div>
            <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="/">{{_ "homepage"}}</a></li>
                <li><a href="/add">{{_ "addTask" }}</a></li>
                <li><a href="/chart">{{_ "chart" }}</a></li>
                <li><a href="/chart">{{#if isInRole 'admin'}}{{_ "userList" }}{{/if}}</a></li>
                <li><a href="/profile/{{userProfile}}">{{_ "myProfile" }}</a></li>
                <li><a href="/myMessages/"><span class="fa fa-envelope {{#each unreadMessages}}{{#if message}}newMessage{{/if}}{{/each}}" aria-hidden="true"></span> {{_ "messages" }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li class="glyphicon glyphicon-refresh"><span style="margin-right:20px;" class="czech">Čeština</span></li>
                <li><span class="glyphicon glyphicon-user"></span>{{> loginButtons}}</li>
                
            </ul>
            </div>

        </div>
    </nav>
    {{#each unreadMessages}}
        {{#if message}}
           <script>$.notify("{{message}}",{delay: 200});</script>
        {{/if}}
    {{/each}}
    {{#each unreadMessagesFull}}
                        {{#if message}}
                           <script>$.notify("{{message}}",{delay: 200});</script>
                        {{/if}}
    {{/each}}
    
    
    
</template>