<template name="HomeLayout">
    {{>Header }}
    {{#if currentUser}}
    <div class="container">
       <h1>{{_ "projectList"}} :</h1><br>
       <a style="float:right;padding-bottom:5px;">Show finished projects</a>
        <table class="table table-striped animated slideInRight">
            <thead>
                <tr>
                    <th><span class="sort-element">{{_"projectName"}}</span><span class="sort-icon fa"></span></th>
                    <th><span class="sort-element">{{_"estimation"}}</span><span class="sort-icon fa"></span></th>
                    <th><span class="sort-element">{{_"worked"}}</span><span class="sort-icon fa"></span></th>
                    <th><span class="sort-element">{{_"ratio"}}</span><span class="sort-icon fa"></span></th>
                    <th><span class="sort-element">{{_"difference"}} / {{_"internDif"}}</span><span class="sort-icon fa"></span></th>
                    <th><span class="sort-element">{{_"action"}}</span><span class="sort-icon fa"></span></th>
                </tr>
            </thead>
            <tbody>
               {{#if tasks}}
                   test
               {{/if}}
                {{>task}}
            </tbody>
        </table>
    </div>
    {{else}}
    <div class="container warning">
        <h1 class="bg-danger" sytle="text-align: center;">YOU MUST LOG IN!</h1>
    </div>
    {{/if}}
    
</template>


<template name="task">
    {{#each tasks}}
    <tr class="{{#if isDone}}done{{/if}}">
        <td><span data-project="projectName" class="projectName edit" contenteditable="false">{{projectName}}</span></td>
        <td><span data-project="estimation" class="estimation edit" contenteditable="false" >{{estimation}}</span> min</td>
        <td><span data-project="worked" class="worked edit" contenteditable="true" >{{worked}}</span> min</td>
        <td><span data-project="ratio" class="ratio edit" contenteditable="false" >{{ratio}}</span>%</td>
        <td>
        <span class="difference">
        Estimation: {{difference}} min<br>
        Intern: {{differenceIntern}} min
        </span>
        </td>
        <td>
        <a href="/task/{{_id}}" class="fa fa-eye"></a>{{#if isInRole 'intern'}}<a class="fa fa-files-o"></a><a class="fa fa-pencil"></a><a class="fa fa-trash"></a><a class="fa fa-flag-checkered"></a>
        {{/if}}
        </td>
    </tr>
    <div class="{{#if edit}}repairon{{else}}repair{{/if}}">{{> quickForm collection="Tasks" doc=this id=ajdi type="update"}}</div>
    {{/each}}
    
</template>